body {
    background-color: black;
    color: red;
    font-family: Arial, sans-serif;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

h1 {
    color: red;
}

.logo {
    max-width: 150px;
    height: auto;
}